<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="hybrid-framework_rokomari.com">
        <classes>
            <class name="tests.CartTests">
                <methods>
                    <include name="addBookToCartTest"/>
                </methods>
            </class>
            <class name="tests.LoginTests">
                <methods>
                    <include name="logInWithInvalidData"/>
                    <include name="logInWithValidData"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>