<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="rokomari.com_automation">
        <classes>
            <class name="tests.T001_TestBookFilter">
                <methods>
                    <include name="filterBookTest"/>
                </methods>
            </class>
            <class name="tests.T002_TestBookSelection">
                <methods>
                    <include name="selectBookTest"/>
                </methods>
            </class>
            <class name="tests.T003_TestPurchaseOrderAndCheckout">
                <methods>
                    <include name="bookCheckoutTest"/>
                </methods>
            </class>
            <class name="tests.T004_TestUserLogout">
                <methods>
                    <include name="logoutUserTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>